package learning
import (
    "github.com/pksingh21/go-echo-htmx/views/layout"
)
templ HelloWorld(){
    <div>
    <button hx-get="/user/info" hx-target="main" hx-swap="outerHTML" hx-attribute="click" >Click Me</button>
    <main>This is a test website being built for learning HTMX let's go</main>
    </div>
}
templ HelloWorld2(cmp templ.Component){
    @layout.Base("Learning HTMX"){
        @cmp
    }

}
